div.s-block-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.s-btn {
    background-color: transparent;
    height: 3em;
    width: auto;
    padding: 0 1em;
    border: 1px solid #000;
    border-radius: 5px;
}

button.s-facebook {
    border: 1px solid #014A94;
    background-color: #014A94;
    color: #fff;
}

button.s-black {
    border: none;
    background-color: white;
    filter: invert(100%);
}

button.s-btn-icon {
    padding: 0;
    background-color: transparent;
    border: transparent;
}

img.s-icon-symetric {
    margin-left: 0.5em;
    vertical-align: middle;
    transform: scaleX(-1);
}

img.s-img-logo {
    margin-bottom: 0.5em;
}