div.s-link-block-border {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 4em;
  background-color: white;
  border: 1px solid silver;
  width: 100%;
}

div.s-link-block {
  display: flex;
  text-align: center;
  justify-content: center;
}

a.s-link-highlighted {
  font-weight: 300;
  font-size: 1.2em;
  text-decoration: underline;
  cursor: pointer;
}

img.s-link-img-resize {
  margin-left: 6px;
}