.s-nav-menu {
  background-color: #FFB72D;
  text-align: center;
  line-height: 3em;
  position: fixed;
  width: 100%;
  top: 0;
}

.s-nav-menu > h1 {
  font-size: 6vh;
}

.s-nav-menu > button:first-child, .s-btn-burger {
  position: fixed;
  left: 0;
  margin-left: 5px;
  /* background-color: aqua; */
}

.s-nav-menu > button + button {
  position: fixed;
  right: 0;
  margin-right: 5px;
  /* background-color: aqua; */
}

.s-nav-noback > button + button {
  display: none;
}

.s-no-title {
  background-color: transparent;
}

.s-no-title > h1 {
  display: none;
}