.s-nav-menu {
  background-color: #FFB72D;
  padding: 0.5em 0;
  text-align: center;
  line-height: 2.75em;
}

.s-nav-menu > h1 {
  font-size: 2em;
}

.s-nav-menu > button:first-child {
  position: absolute;
  left: 0;
  margin-left: 0.5em;
}

.s-nav-menu > button + button {
  position: absolute;
  right: 0;
  margin-right: 0.5em;
}