html,
body {
  height: 100%;
  margin: 0;
}

div.s-main-block {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.s-bg-orange {
  background-color: #FFB72D;
}

div.s-bg-white {
  background-color: white;
}

div.s-content-box {
  display: flex;
  flex:1;
  flex-direction: column;
}

div.s-box {
  text-align: center;
  display: flex;
  justify-content: center;
}

span.s-text-bold {
  font-weight: 500;
}

@media screen and (orientation: landscape) {
  * {
    font-size: 2.7vw;
  }
  .s-block-landscape {
    display: flex;
  }
  .s-block-landscape * {
    margin: 0 1em;
    display: flex;
  }
  .s-landscape-hidden {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  * {
    font-size: 2.7vh;
  }
}