div.s-block-cart {
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: orange;
  width: 6em;
  height: 6em;
  border-radius: 6em 0 0 0;
}

div.s-block-cart img {
  margin: 0.5em 0 0 0.5em;
}

div.s-block-cart p {
  position: absolute;
  font-size: 5vh;
  font-weight: 600;
  margin: 1vh 0 0 1vw;
}
