.thumbnail {
    margin: 1em;
    display: inline-block;
    vertical-align: center;
}

.img-thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    width: 14em;
    height: 14em;
}

.detail-thumbnail{
    margin-top: 1px;
    padding: 4px;
    text-align: center;
    border: 1px solid #ddd;
    width: 17em;
    height: 5em;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(255, 183, 45, 0.7);
}
