div.s-block-tip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.s-block-tip img {
  position: absolute;
  z-index: 0;
}

div.s-t-tip {
  width: 199px;
  height: 61px;
  display: flex;
}

label.s-label-tips {
  display: block;
  position: absolute;
  z-index: 1;
  width: inherit;
  height: inherit;
}

input.s-input-tip-hide {
  display: none;
}

input.s-input-tip {
  letter-spacing: 10px;
  border: 1px solid transparent !important;
  padding: 0 2px;
  text-align: center;
  width: 20px;
  height: 45px;
  font-size: 36px;
}

input.s-input-tip1 {
  margin: 6px 0 0 41px;
}

input.s-input-tip2 {
  margin: 6px 0 0 3px;
}

input.s-input-tip3 {
  margin: 6px 0 0 13px;
}

input.s-input-tip4 {
  margin: 6px 0 0 3px;
}

input.s-input-tip5 {
  margin: 6px 0 0 6px;
  user-select: none;
}

