div.s-block-slide-menu {
  left: 0;
  color: white;
  position: fixed;
  z-index: 100;
  height: 100%;
  background-color: #04346D;
  text-align: center;
  border: 1px solid silver;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul.s-link-menu {
  padding: 0;
}

ul.s-link-menu li {
  list-style: none;
  margin: 1.5em 0;
}

ul.s-link-menu a {
  color: white;
  text-decoration: none;
}

p.s-question-input {
  font-style: italic;
  font-weight: 300;
}

div.s-form-menu {
  display: flex;
  justify-content: space-between;
}

input.s-input-menu {
  line-height: 2em;
  padding-left: 5px;
}

.s-form-menu-btn {
  margin: 2px 0 0 5px;
  transform: rotate(180deg);
}

span.s-menu-year {
  font-size: 12px;
  font-weight: 100;
}

@media screen and (orientation: landscape) {
  .s-menu-landscape {
    display: none;
  }
  .s-block-slide-menu {
    text-align: left !important;
    justify-content: center;
    width: 50% !important;
  }
}