.Home {
    text-align: center;
    background-color: rgb(255, 177, 32);
    background-repeat: repeat ;
    background-position: 100%;
    /* max-width: 100%;
    max-height: 1000px; */
    /* overflow: hidden;
    /* margin-top: -2px;  */
    height: 100%; 
  }

  .App-logo{
    float: center;
    margin: 100px;
    width: 50%;
    height:50%;
  }

.homeButton{
  margin: 15%;
}