.App {
  text-align: center;
  background-color: rgb(255, 177, 32);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* #root{
  background-color: rgb(255, 177, 32);
  max-width: 87%;
  margin: 5% auto; */
  /* background-color: #FFFFFF; 
  overflow: hidden;
  margin-top: -2px; 
} */